<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to "Mostrar pelicula", movie, class:"btn btn-primary" %>
    </p>
  <% end %>
</div>

<%= link_to "Nueva pelicula", new_movie_path, class:"btn btn-primary" %>
