<div id="<%= dom_id client %>" class="container">
  <div class="card">
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item"><strong>Name:</strong> <%= client.name %></li>
        <li class="list-group-item"><strong>Age:</strong> <%= client.age %></li>
      </ul>
    </div>
  </div>
</div>






