<div class="container">
  <h1>Editar Cliente</h1>

  <%= render "form", client: @client %>
  <div class="btn-group">
    <%= link_to "Mostrar cliente", @client, class: "btn btn-primary" %>
    <%= link_to "Volver a clientes", clients_path, class: "btn btn-primary mt-3" %>

  </div>
</div>




